@using DoAnCoSo.Models
@using PagedList.Mvc;
@model PagedList.PagedList<KETQUA>

@{
    ViewBag.Title = "ResultManager";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<p>
    @Html.ActionLink("Thêm Kết Quả", "CreateResult")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.KETQUA1)*@
            KETQUA1
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NEN)*@
            NEN
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.KHONGNEN)*@
            KHONGNEN
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NGAYTAIKHAM)*@
            NGAYTAIKHAM
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.HINHANH1)*@
            @*HINHANH1*@
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.HINHANH2)*@
            @*HINHANH2*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KETQUA1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KHONGNEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NGAYTAIKHAM)
            </td>
            @*<td>
                <img src="@Url.Content("~/Images/"+  item.HINHANH1)" width="120" />
            </td>
            <td>
                <img src="@Url.Content("~/Images/"+  item.HINHANH2)" width="120" />
            </td>*@
            <td>
                @Html.ActionLink("Sửa", "EditResult", new { id = item.MAPHIEU }) |
                @*@Html.ActionLink("Details", "Details", new { id=item.MAPHIEU }) |*@
                @Html.ActionLink("Xóa", "DeleteResult", new { id = item.MAPHIEU })
            </td>
        </tr>
    }

</table>
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("ResultManager", new { page = page }))
    </div>
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>