@model IEnumerable<DoAnCoSo.Models.GIOKHAM>

@{
    ViewBag.Title = "TimeManager";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<p>
    @Html.ActionLink("Thêm Lịch BS", "CreateTime")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MABS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GIOKHAM1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MABS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIOKHAM1)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditTime", new { /* id=item.PrimaryKey */ }) |
            @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink("Delete", "DeleteTime", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
